@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "header/header.css";
@import "section-one/section-one.css";
@import "section-two/section-two.css";
@import "section-three/section-three.css";
@import "section-for/section-for.css";
@import "section-five/section-five.css";
@import "footer/footer.css";


* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}


.interface {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}


ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

a {
    display: inline-block;
    text-decoration: none;
}





